body { 
  background-image: linear-gradient(30deg, #ff00ff, #0071bc
  );
  display: flex;
  justify-content: center;

}

a {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: gray;
}

a:active {
  color: darkgray;
}

.container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  height: 20vh;
}

.navbar {
  display: flex;
  justify-content: space-around;
  color: white;
  width: 35vw;
}

.icon {
  height: 40px;
}
